{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-unused-vars": ["off", { "varsIgnorePattern": ["err", "next"] }],
    "consistent-return": ["off", { "treatUndefinedAsUnspecified": true }],
    "no-useless-escape": "off"
  }
}