.form__button {
  border: none;
  width: 100%;
  height: 50px;
  background-color: #000;
  border-radius: 2px;
  margin: 47px auto 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  line-height: 1.1;
}

.form__button:hover {
  cursor: pointer;
  opacity: 0.8;
}