.profile {
  max-width: 880px;
  padding: 0;
  margin: 40px auto 0;
}

@media (max-width: 1024px) {
  .profile {
    max-width: calc(100% - (72px * 2));
  }
}

@media (max-width: 768px) {
  .profile {
    max-width: calc(100% - (19px * 2));
  }
}

@media (max-width: 550px) {
  .profile {
    margin-top: 42px;
  }
}